.long {
    width: 70%;
    height: 50px;
    background: #eaeaea;
    margin-bottom: 20px;
    border-radius: 20px;
}

.short {
    width: 50%;
    height: 40px;
    background: #eaeaea;
    margin-bottom: 10px;
    border-radius: 20px;
}
