/* All global styles */

@import '~ag-grid-community/styles/ag-theme-quartz.css';

body {
    background: #F9FAFE !important;
}

.content {
    background: white;
    width: 100%;
    height: calc(100vh - 130px);
    overflow-y: auto;
    padding: 30px;
}

.rounded-corners {
    border-radius: 30px;
}